@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply  text-[56%] sm:text-[60%] md:text-[62.5%];
}
body{
    @apply text-[1.6rem];
}
.btn-custom {
  @apply flex items-center gap-[1rem] px-[1rem] 
  py-[.4rem] border-[.1rem] border-gray-200 
  rounded-[.8rem] duration-300;
}

.btn-custom:hover {
  @apply bg-gray-50;
}

.btn-small {
  @apply absolute top-1 right-1 rounded-full
   bg-[rgba(0,0,0,.45)] p-[.4rem] duration-200;
}
.btn-small:hover {
  @apply bg-[rgba(0,0,0,.55)];
}
.small-color {
  @apply border-gray-200 border-[.05rem]
    w-max px-[.9rem] mb-[.2rem] py-[.6rem] 
    flex items-center gap-[.6rem] rounded-[4rem];
}

.active {
  @apply bg-gray-200 duration-200;
}
li.active{
   @apply bg-white sm:bg-gray-200;
}
.active svg {
  @apply fill-black text-black duration-200;
}

.active:not(.btn--link__page):hover {
  background: rgba(0, 0, 0, .07);
}

.hide {
  @apply w-0 h-0 opacity-0 absolute left-[-12000rem] -z-[4];
}

.active svg {
  @apply fill-black text-black duration-300;
}

.btn-like.active {
  animation: btn .6s;
}

.inputColor {
  @apply w-20 appearance-none rounded-md outline-none border-none bg-transparent h-20;
}

.inputColor::-webkit-color-swatch,.inputColor::-moz-color-swatch  {
  @apply rounded-md border-none;
}

.main--section__1::-webkit-scrollbar,
aside::-webkit-scrollbar {
  @apply w-0;
}
.header input:focus+.color--template svg {
  @apply hidden;
}

.header input:focus+.color--template>.color--template__items {
  @apply block;
}
@keyframes btn {
  0% {
      transform: scale(.9)
  }

  ;

  100% {
      transform: scale(1)
  }

  ;
}

@keyframes opacity {
  0% {
      opacity: .5
  }
  100% {
      opacity: 1
  }

  ;
}
@keyframes scaleAnimation {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(0);
  }
}