@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@theme {
  --breakpoint-xs: 360px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 950px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1500px;
  --color-base-gray: #404f65;
  --spacing-normal: 1.5rem;
  --tab-size-2: 2px;
  --tab-size-4: 4px;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@utility border-default {
  @apply border-[.05rem] border-gray-200 border-[.05rem] border-gray-200;
}
@utility button-default {
  @apply text-base-gray border-[1px] border-gray-200 text-[1.8rem] md:text-[1.6rem]  p-2 rounded-lg  font-semibold;
}
@utility p-r-* {
  padding: --value(--padding- *);
  border-radius: calc((--value(--padding- *) * 2) / 3);
}

@utility flex-center {
  @apply flex justify-between items-center;
}
@utility custom-hover {
  @apply transition-colors duration-300;
  @variant hover {
    @apply bg-gray-100;
  }
}
@utility active {
  &.btn-like {
    animation: btn 0.6s;
  }
  @apply bg-gray-200 duration-200;
  &li {
    @apply bg-white sm:bg-gray-200;
  }
}
@utility small-color {
  @apply mb-[.2rem] flex w-max items-center gap-[.6rem]   border-[.05rem] border-gray-200;
}

@layer base {
  html {
    @apply text-[56%] sm:text-[60%] md:text-[62.5%];
  }
  body {
    @apply text-[1.6rem];
  }
  aside::-webkit-scrollbar {
    @apply w-0;
  }
  input[type='range'] {
    appearance: none;
    -webkit-appearance: none;
  }
  input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    background: var(--color);
    z-index: 1;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    border: 6px solid #fff;
    outline: 1px solid var(--active);
    border-radius: 50%;
  }
}

.inputColor {
  @apply h-20 w-20 appearance-none rounded-md border-none bg-transparent outline-hidden;
}

.inputColor::-webkit-color-swatch,
.inputColor::-moz-color-swatch {
  @apply rounded-md border-none;
}

@keyframes btn {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
